body {
    max-width: 650px;
    margin: auto;
    margin-top: 30px;
}   

.centerDamnit {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-transform: uppercase;
}

.navbar .item {
    color: #fff;
    font-size: 1.5em;   
    text-decoration: none;
}

.navbar .item:hover {
    text-decoration: underline;
}

.navbar .item-active {
    color: #fff;
    font-size: 1.5em;
    font-weight: bolder;
}

.navbar .item .separator {
    color: #fff;
    font-size: 1.5em;
}
